
<!DOCTYPE html>
<html>
  <head>
    <title>DSIN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-warning" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>
    <%= link_to('Sair', destroy_client_session_path, method: :delete, class: "btn btn-danger logout") %> 
  </body>
</html>
